.userCard {
  padding: 15px;
  margin: 30px 0;
  background-color: var(--white);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 15px;
  transition: all 0.3s;

  .avatar {
    width: 120px;
    border-radius: 100px;
  }

  @media (min-width: 768px) {
    padding: 25px;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;

    .avatar {
      width: 150px;
      border-radius: 100px;
    }
  }
}

body[data-theme="dark"] {
  .userCard {
    background-color: var(--gray-400);
  }
}
